<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Rosatopay's payout</h1>
<h3>You can see gateway live in action at GET /pay</h3>

<h4>Don't forget to change sample APPID AND SECRET-KEY in <b>app.js</b></h4>

<h5><a href="/payout">TEST PAYOUT</a></h5>

</body>
</html>
